.category{
    display: flex;
    justify-content: space-between;
}

.modal-header{
    padding: 5px 15px;
    background-color: #fb641f;
}

.modal-title{
    font-size: 18px;
    color: #fff;
}

.modal-footer{
    padding: 5px 15px;
}

.buttonContainer{
    display: flex;
    align-items: center;
}

.buttonContainer > button{
    border: 0;
    margin: 0 5px;
    font-size: 14px;
}