.home_footer{
    background-color: white; 
    padding: 30px; 
    margin-top: 40px;
}

.home_footer h3{
    opacity: 0.5; 
    font-size: 16px;
}

.home_footer p{
    opacity: 0.5; 
    font-size: 11px; 
    line-height: 1.5rem;
}